<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  </head>
  <body>
    <div
      class="flex min-h-screen flex-col justify-center items-center px-6 py-12 lg:px-8 bg-slate-900"
    >
      {{ block "content" . }}{{ end }}
    </div>
  </body>
</html>
